.Produkty{
    display: flex;
    flex: 1;

    flex-wrap: wrap;
    gap: 16px;

    align-items: stretch;
    align-content: flex-start;

    .Produkt{
        display: flex;
        flex-direction: column;

        gap: 5px;

        align-items: center;

        width: 250px;
        padding: 5px;

        height: auto;

        border: black 1px solid;

        cursor: pointer;

        text-align: center;

        transition: transform 0.2s ease-in-out;

        img{
            width: 100%;
        }

        h2, p{
            margin: 0px;
        }

        h3{
            margin: auto 0px 0px 0px;
        }

        p{
            color: rgb(73, 73, 73);
        }
    }

    .Produkt:hover{
        transform: scale(1.02);
    }
}