.Kategorie_Seznam{
    .Kategorie{
        width: 250px;
        padding: 5px;

        border-radius: 5px;
    }
}

.Produkty{
    .Produkt{
        width: 250px;
        padding: 5px;

        border-radius: 2px;

        gap: 5px;

        img{
            width: 100%;
        }

        p{
            margin: 0px;
        }

        h3{
            margin: auto 0px 0px 0px;
        }

        p{
            color: rgb(73, 73, 73);
        }
    }
}

.Produkty, .Kategorie_Seznam{
    display: flex;
    flex-wrap: wrap;

    gap: 16px;

    align-items: stretch;
    align-content: flex-start;

    .Produkt, .Kategorie{
        display: flex;
        flex-direction: column;

        align-items: center;
        
        height: auto;
    
        border: black 1px solid;
    
        cursor: pointer;
    
        text-align: center;
        text-decoration: none;
        color: black;
    
        transition: transform 0.2s ease-in-out;

        h2{
            margin: 0px;
        }
    }

    .Produkt:hover, .Kategorie:hover{
        transform: scale(1.02);
    }
}