.Info{
    display: flex;
    flex-direction: column;

    align-items: start;

    gap: 10px;

    margin-top: 20px;

    h2{
        margin: 0px;
    }

    p{
        margin: 0px;
    }  
}

.Produkty{
    display: flex;
    flex: 1;

    padding-top: 40px;

    flex-wrap: wrap;
    gap: 16px;

    align-items: stretch;
    align-content: flex-start;

    .Produkt{
        display: flex;
        flex-direction: column;

        align-items: center;
        
        width: 250px;
        padding: 5px;

        border-radius: 2px;

        height: auto;
    
        border: black 1px solid;
    
        cursor: pointer;
    
        text-align: center;
        text-decoration: none;
        color: black;
    
        transition: transform 0.2s ease-in-out;

        img{
            width: 100%;
        }

        h2, p{
            margin: 0px;
        }

        h3{
            margin: auto 0px 0px 0px;
        }

        p{
            color: rgb(73, 73, 73);
        }
    }

    .Kategorie:hover{
        transform: scale(1.02);
    }
}