.Produkt{
    display: flex;

    margin-top: 30px;

    .IMG_Container{
        position: relative;

        width: 30%;

        img{
            width: 100%;
            object-fit: cover;
        }

        .Navigace {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            font-size: 32px;
            padding: 8px 12px;
            cursor: pointer;
            z-index: 2;
        }
        .Predchozi {
            left: 10px;
        }

        .Dalsi {
            right: 10px;
        }
    }

    .Info{
        display: flex;
        flex-direction: column;

        padding-left: 30px;

        align-items: start;

        flex: 1;

        gap: 10px;

        h1, h3{
            margin: 0px;
        }

        .Description{
            overflow: auto;

            flex: 1;
        }

        .Skladem {
            color: green;
        }
    
        .Vyprodano {
            color: red;
        }
    
        .Ovladani_Kosiku_Container{
            min-width: fit-content; 
            height: 40px;

            width: 300px;

            display: flex;

            align-items: center;

            gap: 5px;

            input[type="button"]{
                font-size: 30px;

                padding: 10px 20px;

                cursor: pointer;

                border: none;

                background-color: #94bd23;
                color: white;
            }

            strong{
                margin: 0px;

                font-size: 20px;
                padding: 0px;

                overflow: visible;

                height: fit-content;
                width: fit-content;
            }
        }
    }
}

@media screen and (max-width: 768px){
    .Produkt{
        flex-direction: column;

        align-items: center;

        .IMG_Container{
            width: 70%;
        }

        .Info{
            align-items: center;

            padding-left: 0px;
        }
    }
}