.Product_And_Description{
    display: flex;

    margin-top: 30px;

    img{
        width: 30%;
    }

    .Description{
        display: flex;
        flex-direction: column;

        align-items: start;

        flex: 1;

        gap: 10px;

        h1, h3{
            margin: 0px;
        }

        .Skladem {
            color: green;
        }
    
        .Vyprodano {
            color: red;
        }
    
        .Pridat_Do_Kosiku{
            margin-top: auto;

            padding: 20px;

            cursor: pointer;
        }
    }
}