.Produkt{
    display: flex;

    margin-top: 30px;

    img{
        width: 30%;
    }

    .Info{
        display: flex;
        flex-direction: column;

        padding-right: 30px;

        align-items: start;

        flex: 1;

        gap: 10px;

        h1, h3{
            margin: 0px;
        }

        .Description{
            overflow: auto;

            flex: 1;
        }

        .Skladem {
            color: green;
        }
    
        .Vyprodano {
            color: red;
        }
    
        .Ovladani_Kosiku_Container{
            min-width: fit-content; 
            height: 40px;

            width: 300px;

            display: flex;

            align-items: center;

            gap: 5px;

            input[type="button"]{
                flex: 1;
                height: 100%;
            }

            p{
                margin: 0px;

                font-size: 20px;
                padding: 0px;

                overflow: visible;

                height: fit-content;
                width: fit-content;
            }
        }
    }
}