:root, body, .app{
    height: 100%;
    margin: 0px;
}

:root {
  box-sizing: border-box;
}

.app{
  display: flex; 
  flex-direction: column; 
}

.app * {
  font-family: var(--main-font);
  box-sizing: border-box;
}

.Header{
  display: flex;
  padding: 10px 10px;

  box-shadow: rgba(0, 0, 0, 0.25) 0 1px 20px;
}

.Content{
  padding: 0px 10px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
}