.Produkty{
    border-collapse: collapse;
    border-spacing: 0px;

    thead{
        background-color: #333;
        color: white;


        th{
            padding: 10px 5px;
        }
    }

    tbody{
        tr{
            border: black 1px solid;

            .Polozka{
                display: flex;

                align-items: center;

                text-decoration: none;
                color: black;

                img{
                    width: 100px;
                }
            }

            input[type="number"]{
                width: 100%;
            }
            

            input[type="button"]{
                font-size: 18px;

                padding: 10px 20px;

                background-color: #333;
                border: none;

                color: white;

                cursor: pointer;
            }
        }
    }

    .Left_Align{
        text-align: left;
    }

    .Center_Align{
        text-align: center;
    }
}

.Osobni_Udaje{
    border: #e0e0e0 1px solid;
    padding: 10px;

    font-size: 20px;

    div{
        display: flex;
        gap: 10px;

        align-items: center;

        input{
            font-size: 20px;
        }
    }
}

.Dopravce{
    border-collapse: collapse;
    border-spacing: 0px;

    border: #e0e0e0 1px solid;

    font-size: 20px;

    td{
        padding: 10px;
    }

    .Left_Align{
        text-align: left;
    }

    .Right_Align{
        text-align: right;
    }
}

.Celkova_Cena{
    margin-top: 20px;

    padding: 10px 20px;

    display: flex;
    justify-content: end;
    align-items: center;
    
    text-align: right;

    background-color: #f2f2f2;

    .Big_Text{
        padding-left: 20px;

        font-size: 30px;
    }
}

.Zpet_Nebo_Objednat{
    margin-top: 20px;

    display: flex;
    
    justify-content: end;
    align-items: center;

    .Zpet{
        font-size: 18px;

        cursor: pointer;

        border: none;

        margin-left: 25px;

        color: gray;
        background-color: transparent;  
    }

    .Objednat{
        font-size: 30px;

        padding: 10px 20px;

        cursor: pointer;

        border: none;

        margin-left: 25px;

        background-color: #94bd23;
        color: white;
    }

    .Objednat:disabled{
        background-color: rgba(119, 119, 119, 0.555);
    }
}