.Osobni_Udaje{
    border: #e0e0e0 1px solid;
    padding: 10px;

    font-size: 20px;

    div{
        display: flex;
        gap: 10px;

        align-items: center;

        input{
            font-size: 20px;
        }
    }
}

.Dopravci{
    border-collapse: collapse;
    border-spacing: 0px;

    border: #e0e0e0 1px solid;

    font-size: 20px;

    td{
        padding: 10px;
    }

    .Left_Align{
        text-align: left;
    }

    .Right_Align{
        text-align: right;
    }
}

.Zpet_Nebo_Pokracovat{
    margin-top: 20px;

    display: flex;
    
    justify-content: end;
    align-items: center;

    .Zpet{
        font-size: 18px;

        cursor: pointer;

        border: none;

        margin-left: 25px;

        color: gray;
        background-color: transparent;  
    }

    .Pokracovat{
        font-size: 30px;

        padding: 10px 20px;

        cursor: pointer;

        border: none;

        margin-left: 25px;

        background-color: #94bd23;
        color: white;
    }

    .Pokracovat:disabled{
        cursor: default;

        background-color: rgba(119, 119, 119, 0.555);
    }
}