.Produkty{
    border-collapse: collapse;
    border-spacing: 0px;

    thead{
        background-color: #333;
        color: white;


        th{
            padding: 10px 5px;
        }
    }

    tbody{
        tr{
            border: black 1px solid;

            .Polozka{
                display: flex;

                align-items: center;

                text-decoration: none;
                color: black;

                img{
                    width: 100px;
                }
            }

            input{
                width: 100%;
            }
            input[type="button"]{
                background-color: black;
                border: none;

                color: white;

                cursor: pointer;

                height: 50%;
            }
        }
    }

    .Left_Align{
        text-align: left;
    }

    .Center_Align{
        text-align: center;
    }
}

.Celkova_Cena{
    margin-top: 20px;

    padding: 10px 20px;

    display: flex;
    justify-content: end;
    align-items: center;
    
    text-align: right;

    background-color: #f2f2f2;

    .Big_Text{
        padding-left: 20px;

        font-size: 30px;
    }
}

.Pokracovat{
    margin-top: 20px;

    display: flex;
    
    justify-content: end;
    align-items: center;

    input{
        font-size: 30px;

        padding: 10px 20px;

        cursor: pointer;

        border: none;

        background-color: #94bd23;
        color: white;
    }
}