.Stranka_Nenalezena_container {
    display: flex;
    flex-direction: column;
        
    flex: 1;

    align-items: center;
    justify-content: center;

    h1{
        font-size: 4vw;
    }

    h1, h2{
        margin: 0px;
    }
}