.Elements_Left{
    display: flex;
    flex-direction: column;

    gap: 5px;

    .Logo_Container{
        flex: 1;

        display: flex;

        justify-content: left;
        align-items: center;

        h1{
            margin: 0px;
        }
    }

    .Page_Links{
        display: flex;
        gap: 50px;

        * {
            font-size: 20px;
            margin: auto 0px;
    
            color: black;
    
            cursor: pointer;
    
            min-width: fit-content;
            text-decoration: none;
    
            position: relative;
        }
    
        .Active{
            font-weight: bold;
        }

        *::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -2px;
            width: 0%;
            height: 2px;
            background-color: #000;
            transition: width 0.2s ease-in-out;
        }
      
        *:hover::after {
            width: 100%;
        }
    }
}

.Elements_Right{
    display: flex;
    align-items: center;

    margin-left: auto;

    a{
        font-size: 20px;

        display: flex;
        align-items: center;
            
        color: black;
        text-decoration: none;

        img{
            padding-right: 5px;
            width: 40px;
        }
    }
}
